In [1]:
import pandas as pd
import glob
import re

### Gộp dự liệu theo địa phương

In [2]:
all_files = glob.glob("data_original/theo_tinh/diaphuong*.csv")
all_files[0:5]

['data_original/theo_tinh\\diaphuong_01_2011.csv',
 'data_original/theo_tinh\\diaphuong_01_2012.csv',
 'data_original/theo_tinh\\diaphuong_01_2013.csv',
 'data_original/theo_tinh\\diaphuong_01_2014.csv',
 'data_original/theo_tinh\\diaphuong_01_2015.csv']

In [3]:
data = pd.DataFrame(columns=['Ma_Tinh', 'Ten_Huyen', 'So_Diem_Chay', 'Nam'])

In [4]:
for file in all_files:
    name_file = re.findall('diaphuong_\d+_\d+.csv', file)
    maTinh = re.findall('_\d+_', name_file[0])[0].replace('_', '')
    year = re.findall('\d+.csv', name_file[0])[0].replace('.csv', '')
    df = pd.read_csv(file, index_col=0)
    df = df.rename(columns={
        'Tên huyện': 'Ten_Huyen', 
        'Số điểm cháy': 'So_Diem_Chay'
    })
    df['Nam'] = int(year)
    df['Ma_Tinh'] = int(maTinh)
    df.pop("#")
    data = data.append(df)
    data.append(df)

In [5]:
data = data[data.Ma_Tinh != 0]
data = data.reset_index(drop=True) 
data

     Ma_Tinh      Ten_Huyen So_Diem_Chay   Nam
0          1     Thạch Thất            1  2011
1          1     Thạch Thất            1  2012
2          1     Thạch Thất            1  2013
3          1     Thạch Thất            1  2014
4          1          Ba Vì            1  2014
...      ...            ...          ...   ...
5098      96      Ngọc Hiển           13  2020
5099      96         Cà Mau           46  2020
5100      96       Cái Nước            2  2020
5101      96        Năm Căn            4  2020
5102      96  Trần Văn Thời          370  2020

[5103 rows x 4 columns]

In [6]:
data.to_csv('data_preprocessing/general_province_area.csv')

### Gộp dự liệu theo tháng

In [7]:
all_files = glob.glob("data_original/theo_tinh/thang*.csv")
all_files[0:5]

['data_original/theo_tinh\\thang_01_2011.csv',
 'data_original/theo_tinh\\thang_01_2012.csv',
 'data_original/theo_tinh\\thang_01_2013.csv',
 'data_original/theo_tinh\\thang_01_2014.csv',
 'data_original/theo_tinh\\thang_01_2015.csv']

In [8]:
data = pd.DataFrame(columns=['Ma_Tinh', 'Thang', 'So_Diem_Chay', 'Nam'])

In [9]:
for file in all_files:
    name_file = re.findall('thang_\d+_\d+.csv', file)
    maTinh = re.findall('_\d+_', name_file[0])[0].replace('_', '')
    year = re.findall('\d+.csv', name_file[0])[0].replace('.csv', '')
    df = pd.read_csv(file, index_col=0)
    df = df.rename(columns={
        'Tháng': 'Thang', 
        'Số điểm cháy': 'So_Diem_Chay'
    })
    df['Nam'] = int(year)
    df['Ma_Tinh'] = int(maTinh)
    df.pop("#")
    data = data.append(df)
    data.append(df)

In [10]:
data = data[data.Ma_Tinh != 0]
data = data.reset_index(drop=True) 
data

     Ma_Tinh Thang So_Diem_Chay   Nam
0          1    12            1  2011
1          1    12            1  2012
2          1    12            1  2013
3          1     1            1  2014
4          1     2            1  2014
...      ...   ...          ...   ...
5002      96     2          413  2020
5003      96     3           15  2020
5004      96     4            8  2020
5005      96     5            9  2020
5006      96     6            1  2020

[5007 rows x 4 columns]

In [11]:
data.to_csv('data_preprocessing/general_province_month.csv')